.whyusbg {
    position: absolute;
    border-radius: 100%;
    opacity: 0.7;
  }

.whyusimg img{
    height: 70vh;
    position: relative;
    bottom: 50px;
    object-fit: contain;
}

.whyustext {
    border: 2px dotted whitesmoke;
    border-left: none;
    border-top: none;
    border-right: none;
}

// .whyus-container{
//     height: 100vh;
//     img{
//         height: 500px;
//     }
// }

.aboutcase .cards1 {
    background: burlywood;
    border-radius: 5px;
}

.aboutsuccess img {
    position: relative;
    left: 10%;
    width: 60%;
    height: auto;
}

.blur-img img {
    filter: blur(2px);
    width: 100%;
    min-height: 750px;
    height: 750px;
    background: #efefef;
    object-fit: cover;
}

.rounded-img img {
    border-radius: 50%;
    width: 250px;
    height: 250px;
    overflow: hidden;
    background: #c5c5c5;
    position: absolute;
    top: 50%;
    left: -10%;
    object-position: 16px 20px;
    object-fit: cover;
    padding: 0 0;
    transform: translate(0%, -50%);
}

// .aboutme {
//     background: rgb(158, 156, 156);

// }

.ceo-content {
    word-spacing: 10px;
    line-height: 2;
    letter-spacing: 1px;
    font-size: 16px;
    font-family: math;
    // text-align: center;
}

.aboutcards {
    display: flex;
    justify-content: center;

    .aboutcardbody {
        border: 2px solid red;
        background: #05463c;
        color: white;
        border-radius: 10px;
        margin-right: 60px;
        max-width: 30rem;
        height: auto;

        .aboutimg {
            width: 40px;
            height: 40px;
            margin-right: 10px; // Adjust as needed
        }

        .about-card-title-container {
            display: flex;
            align-items: center;
        }
    }
}
