.digital {
    input{
        padding: 0 10px;
    }
    .whatwedo .card:hover .card-title {
        color: #fff;
    }

    .whatwedo .card {
        box-shadow: 7px 5px 30px 0 rgba(0, 0, 0, 0.12);
        transition: 0.3s;
        cursor: pointer;
        height: 100px;
        display: flex;
        justify-content: center;
    }

    .whatwedo .card {
        align-items: start;
    }

    .card-icon img {
        border-radius: 50%;
        height: 40px;
        width: 40px;
    }

    .whatwedo .card:hover {
        background: #535353;
    }

    .card-effect {
        height: 100%;
        background-color: #fff;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        /* Box shadow effect */
        transition: box-shadow 0.3s ease;
        /* Add a smooth transition effect */
    }

    .card-effect:hover {
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
        /* Change box shadow on hover */
    }

    .card-content-effect {
        padding: 20px;
    }

    .carding {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        margin: 10px;
        padding: 10px;

    }

    .card-effect:hover {
        background: #ffce05;
        color: black;
        border-color: white;
        transition: all 0.35s ease;
        cursor: default;

    }

    .card-effect {
        border: 2px dotted #ffce05;
    }


    .cardish {
        height: 100%;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-evenly;
    }

    .card-cardish1 {
        position: relative;
        display: flex;
        justify-content: center;
        box-shadow: 0 0 6px 0 rgba(32, 32, 36, .12);
        transition: all 0.35s ease;
        /* height: 300px; */
        padding: 5%;
        // height: 100%;
        height: 200px;
    }

    .hover_content {
        overflow: hidden;
        transition: .3s;
        transform: translateY(-10px);
        max-height: 0;
        width: 0;
    }

    .card-cardish1:hover {
        box-shadow: 2px 2px 2px #ffe17c;

    }

    .card-cardish1:hover .hover_content {
        transform: none;
        max-height: 100px;
        width: 100%;
    }

    .content {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .card-cardish1:hover .content {
        flex-direction: column;
        align-items: start;
    }

    .hover_content {
        overflow: hidden;
        transition: .3s;
        transform: translateY(-10px);
        max-height: 0;
        width: 0;
    }

    .card-cardish1:hover .hover_content {
        transform: none;
        max-height: 100px;
        width: 100%;
    }

    .content {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .card-cardish1:hover .content {
        flex-direction: column;
        align-items: start;
    }

    .content h6 {
        /* font-size: 20px; */
        margin: 0;
        padding: 25px;
        font-size: 20px;
        font-weight: 500;
        background-image: url(/src/assets/images/headerbg.webp);
        background-position: center;
        background-repeat: no-repeat;
        background-size: 100% 100%;
        max-width: fit-content;
        color: var(--axess-secondary);
        transition: .5s;
    }

    .card-cardish1:hover h6 {
        all: unset;
        font-weight: 500;
        font-size: 18px;
        margin-bottom: 5px;
    }
}

.client.inner {
    display: flex;
    justify-content: center;
    margin: 0 25px;

}

.client .card-info {
    background: linear-gradient(145deg, #e2e8ec, #ffffff);
    width: 100%;
    height: 100%;
    padding: 20px;

}

.client .card-info .card-thumbnail {
    overflow: hidden;
    border-radius: 10px;
    margin-bottom: 27px;
    display: flex;
}

.client .card-thumbnail img {
    max-width: 100%;
    height: auto;
    transition: 0.4s;
    display: inline-block !important;
    object-fit: cover;
    width: 100%;

}

.subtitle span {
    color: #355C7B;
}

.client .inner .card-info .card-content .subtitle {
    font-size: 12px;

    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 22px;
}

.client.inner.card-info.card-content.title {
    color: black;
    font-size: 24px;
    margin-top: 10px;
    margin-bottom: 0px;
    line-height: 34px;
}

.designation {
    color: black;
    font-size: 16px;
}

.user .card-description {
    background: #ffce05;
    color: black
}

.card-description {
    padding: 50px 40px 50px 40px;
    border-radius: 10px;

    width: 100%;
}

.user .title-info {
    text-align: left;
}

.user .title {
    color: black;
    font-size: 26px;
    font-weight: 500;
    margin-bottom: 10px;
}

.user .rating {
    background: linear-gradient(145deg, #e2e8ec, #ffffff);
    padding: 5px 10px;
    border-radius: 6px;
    display: inline-block;

}

.rating ul {
    display: flex;
    align-items: center;
}

.rating ul li {
    margin: 0;
    font-weight: 700;
    display: inline-block;
    position: relative;
    margin-top: -1px;
    margin-right: 4px;

}

.rating i {
    color: #FFAB1A;
}

.digicontact {
    width: 100%;
    height: 45px;
}

.digitalcontact select {
    width: 100%;
    height: 45px;
}

.textarea1 textarea {
    // height: 70px;
    width: 100%;
    padding: 5px;
    resize: none;

}

.banner-bts {
    background-color: #fd562a;
    border: none;
    border-radius: 10px;
    color: #fff;
    height: 55px;
    width: 300px;
}

.box1 {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    // margin: 20px 20px 20px 20px;
    padding: 5px  20px 20px 28px;
    // border: 2px solid;
    border-radius: 45px;
    background-color: white;
    
}
