.footerhover:hover {
  color: #ffce05 !important;
}

.zoom-effect {
  transition: transform 0.3s ease;

  &.zoom-effect:hover {
    transform: scale(1.2);
    /* Adjust the scale factor as needed */
  }
}

.concolor {
  color: #f7851d;
  cursor: pointer;
}

// @media (min-width: 768px) {
//   .concolor {
//       cursor: auto;
//   }
// }

// .meta{
//   color: #b60843;
// }